* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000000;
  --secondary-color: #303030;
  --tirtiary-color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--secondary-color);
}

.container {
  overflow: hidden;
  margin: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./Components/Images/bg-image-daytime.jpg);
}
.container-dark {
  background-position-x: -3px;
  background-image: url(./Components/Images/bg-image-nighttime.jpg);
}
/* General Components */
h1 {
  font-weight: bold;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
}
h2 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
}
h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 4.8px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
h6 {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 28px;
}

/* Main */
.main-clock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

/* Expand-Btn */
.expand-btn {
  width: 146px;
  height: 56px;
  background: var(--tirtiary-color);
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.expand-btn h6 {
  font-size: 16px;
  letter-spacing: 5px;
  opacity: 0.5;
  margin-left: 0.5rem;
}
.arrow {
  transform: rotate(-180deg);
  width: 40px;
  height: 40px;
}
.arrow-active {
  transform: rotate(0);
  width: 40px;
  height: 40px;
  padding-left: 4px;
}
.expand-btn:hover .arrow,
.expand-btn:hover .arrow-active {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .expand-btn {
    width: 115px;
    height: 39px;
    gap: 15px;
  }
  .expand-btn img {
    width: 32px;
    height: 32px;
  }
  .arrow,
  .arrow-active {
    width: 32px;
    height: 32px;
  }
  .expand-btn h6 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3.75px;
  }
  .arrow-active {
    padding-left: 3px;
  }
}

.time-info {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 98px;
  transition: transform 0.7s;
}
.time {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 60%;
}
.greeting {
  display: flex;
  gap: 16px;
  color: var(--tirtiary-color);
  align-items: center;
}
.greeting img {
  width: 24px;
  height: 24px;
}
.clock-info {
  display: flex;
  color: var(--tirtiary-color);
  align-items: flex-end;
}
.clock-format {
  font-weight: 300;
  font-size: 40px;
  line-height: 80px;
}
.location {
  color: var(--tirtiary-color);
  text-transform: uppercase;
}
.more-btn {
  align-self: flex-end;
}

/* Quote */
.quote-container {
  color: var(--tirtiary-color);
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 56px;
  padding-left: 10%;
  transition: all 0.7s;
}
.quote {
  display: flex;
  align-items: baseline;
  gap: 16px;
}
.quote img {
  opacity: 0.5;
  width: 16.67px;
  height: 16.67px;
  cursor: pointer;
}
.quote img:hover {
  opacity: 1;
}
.quote-text {
  font-weight: normal;
}

/* More Info */
.more-info-container {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(40.7742px);
  padding: 0 10%;
  transition: height 0.7s;
}
.container-dark .more-info-container {
  background: rgba(0, 0, 0, 0.6);
}
.more-info {
  padding: 7rem 0;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.container-dark .more-info {
  color: var(--tirtiary-color);
}

.more-info .col-1,
.more-info .col-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hidden {
  display: none;
}
.col-1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(48, 48, 48, 0.25);
}
.col-2 {
  padding-left: 94px;
  display: flex;
  flex-direction: column;
}
.clock-container {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .quote-container {
    width: 100%;
  }
  .time-info {
    flex-direction: column;
    gap: 80px;
    height: 60%;
    justify-content: center;
    padding-top: 80px;
    transform: translateY(0%);
  }
  .time-info h1 {
    font-size: 175px;
    line-height: 175px;
  }
  .time {
    max-width: 100%;
  }
  .more-btn {
    align-self: flex-start;
  }
  .greeting h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }
  .more-info-container {
    padding: 0 10%;
  }

  .more-info h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .more-info h6 {
    font-size: 13px;
    line-height: 28px;
    font-weight: normal;
  }
}

@media screen and (max-width: 768px) {
  .quote-container,
  .time-info,
  .more-info-container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .time-info {
    justify-content: flex-end;
    gap: 16px;
    padding-bottom: 40px;
  }
  .quote-container h5 {
    font-size: 12px;
    line-height: 22px;
  }
  .greeting h4 {
    font-size: 15px;
    line-height: 25px;
  }
  .clock-info h1 {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2.5px;
  }
  .clock-info span {
    font-size: 15px;
    line-height: 28px;
  }
  .location h3 {
    font-size: 15px;
    line-height: 28px;
  }
  .more-info {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 16px;
  }
  .more-info .col-1,
  .more-info .col-2 {
    padding: 0;
    width: 100%;
    gap: 16px;
  }
  .col-1 {
    border: none;
  }
  .col-1_item,
  .col-2_item {
    display: flex;
    justify-content: space-between;
  }
  .more-info h6 {
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 2px;
  }
  .more-info h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
